{% extends 'base.html' %}


{% block main %}
  <main class="container mt-3">
    <div class="card my-4 mx-auto">
      <div class="card-body m-2 m-md-4">
        <article class="row">
          <div class="col-5"><img src="{{ data.picture }}" class="img-fluid" alt=""></div>
          <div class="col-7">

            <section class="teacher=info">

              <h1 class="h2">{{ data.name }}</h1>

              <p>{% for goal in data.goals %}
                <span class="badge badge-secondary mr-2">{{ goals_dict[goal] }}</span>
                {% endfor %}
                Рейтинг: {{ data.rating }} Ставка: {{ data.price }} / час</p>

              <p>{{ data.about }}</p>

            </section>

            <section class="available">

              <h4 class="mb-4 mt-5">Записаться на пробный урок</h4>



              {% for day, value in free_time.items() %}
              {% if value %}
              <h6 class="mt-4">{{ day_dict[day] }}</h6>
              {% for item in value %}
              {# <a href="/booking/{{ data.id }}/{{ day }}/{{ item.split(':')[0] }}" class="btn btn-outline-success  mr-2">{{ item }} свободно</a>  #}
              <a href="/booking/{{ data.id }}/{{ day }}/{{ item }}" class="btn btn-outline-success  mr-2">{{ item }} свободно</a>
              {% endfor %}
              {% else %}
              <h6 class="mt-4">{{ day_dict[day] }}</h6>
              <p>Нет свободных уроков</p>
              {% endif %}
              {% endfor %}




            </section>

          </div>
        </article>
      </div>

    </div>
  </main>
{% endblock %}