{% extends 'base.html' %}

{% block main %}
  <main class="container mt-5">
    <div class="col-12 col-sm-10 col-lg-6 offset-lg-3 offset-sm-1">
      <form action="{{ url_for('request_done') }}" method="POST" class="card mb-5">
        <div class="card-body text-center pt-5">
          <h1 class="h3 card-title mt-4 mb-2">Подбор преподавателя</h1>
          <p class="px-5">Напишите, чего вам нужно и&nbsp;мы&nbsp;подберем отличных&nbsp;ребят</p>
        </div>
        <hr>
        <div class="card-body mx-3">
          <div class="row">
            <div class="col">
              <p>Какая цель занятий?</p>
                {{ form.clientPurpose(class="form-check") }}
            </div>
            <div class="col">
              <p>Сколько времени есть?</p>
               {{ form.clientTime(class="form-check") }}
            </div>
          </div>
        </div>
        <hr>
        <div class="card-body mx-3">
          {{ form.clientName.label(class="mb-1 mt-2") }}
          {{ form.clientName(class="form-control") }}
          {{ form.clientPhone.label(class="mb-1 mt-2") }}
          {{ form.clientPhone(class="form-control") }}
          {{ form.clientSubmit(class="btn btn-primary mt-4 mb-2") }}
        </div>
      </form>
    </div>
  </main>
{% endblock %}